@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.myGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". . header header header . ."
    ". . . today . . side"
    "todo todo todo . journal journal journal"
    "wtodo1 wtodo2 wtodo3 wtodo4 wtodo5 wtodo6 wtodo7";
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: large;
  text-align: center;
  margin: 10px;
}

.dash-entryItem {
  text-align: center;
  justify-content: "center";
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  border: 4px solid #6495ED;
  background-color: #CED4DA;
  border-radius: 4px;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 5px 10px;
  flex-direction: column;
}

.header {
  text-align: center;
  align-self: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  grid-area: header;
}

.side {
  grid-area: side;
  text-align: right;
}
.today {
  grid-area: today;
}
.todo {
  grid-area: todo;
}

.journal {
  grid-area: journal;
}

.wtodo1 {
  grid-area: wtodo1;
}
.wtodo2 {
  grid-area: wtodo2;
}
.wtodo3 {
  grid-area: wtodo3;
}
.wtodo4 {
  grid-area: wtodo4;
}
.wtodo5 {
  grid-area: wtodo5;
}
.wtodo6 {
  grid-area: wtodo6;
}
.wtodo7 {
  grid-area: wtodo7;
}
