:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outlet {
  min-height: 90vh;
  padding-top: 2vh;
}
