@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.todoCard {
  text-align: center;
  justify-content: "center";
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  border: 4px solid #FAC898;
  background-color: #CED4DA;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 5px 10px;
  flex-direction: column;
}

/* todoItem Styling */

.td-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:4px;
}

.cbx-label {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 120%;
  margin-right: 50px;
}


.checkbox input[type=checkbox]:checked + .cbx-label {
  text-decoration: line-through;
  color: black
}

input {
  margin-right: 4px;
}

.delete-button {
  position: relative;
  background-color: white;
  border: 2px solid #FAC898;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.delete-button:hover {
  border-color: #FAC898;
  color: #FAC898;
}

.delete-button::before,
.delete-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.new-todo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 120%;
  background-color: #FAC898;
}
